# Basics of Python3

All data are represented by objects:
    - mutable
    - immutable

Python object:
    - type: number, string, list, ...
    - value
    - id: each different object in memory will have its own id number

Attributes: data and functions (methods)

In [422]:
import numpy as np
x = np.array([1,4,5])
print(x.mean())
print(x.shape)

3.33333333333
(3,)

In [423]:
import math
print(math.sin(math.pi/2))
print(np.sqrt(x))
print(math.factorial(3))

1.0
[ 1.          2.          2.23606798]
6

In [424]:
15//7

2

In [425]:
name="any"
type(name)
dir(name) # help
dir(str) # help
help(name.upper) # help

Help on built-in function upper:

upper(...) method of builtins.str instance
    S.upper() -> str

    Return a copy of S converted to uppercase.

In [426]:
import random
random.choice(["aa","bb","cc"])

'cc'

In [427]:
a=2
b=2
print(a==b);print(a is b);
b+=1;print(a is b);

True
True
False

# Sequences

## Lists

Lists: MUTABLE, sequences of any type of Python objects but common to hold objects of just 1 type

Slicing S[0:4], range(0,4) ... starts at 0 (included), stops at 4 (not included)

In [428]:
numbers=[2,4,6,8];numbers[0];numbers[-1]
numbers.append(10)
x=[12,14,16]
print(numbers+x)

[2, 4, 6, 8, 10, 12, 14, 16]

In [429]:
names=["Zofia", "Alex", "Morgan", "Anthony"]
print(names);print(sorted(names))
print(names);names.sort();print(names)

['Zofia', 'Alex', 'Morgan', 'Anthony']
['Alex', 'Anthony', 'Morgan', 'Zofia']
['Zofia', 'Alex', 'Morgan', 'Anthony']
['Alex', 'Anthony', 'Morgan', 'Zofia']

## Tuples

Immutable sequences (can not append)
Typically used to store heterogeneous data
When you want to return more than 1 object from your Python function

In [430]:
t=(1,3,5,7)
t+=(9,11)
print(t)

# Tuple packing
x=12.23
y=23.34
coordinate=(x,y)
print(coordinate)

# Tuple unpacking
(c1,c2)=coordinate
print("c1=",c1)

(1, 3, 5, 7, 9, 11)
(12.23, 23.34)
c1= 12.23

In [431]:
coordinates=[(0,0),(1,1),(2,4),(3,9),(4,16)] # a list of tuples
for (x,y) in coordinates: # unpacking the tuples
    print(x,y)

0 0
1 1
2 4
3 9
4 16

## Ranges

Immutable sequences of integers

In [432]:
print(list(range(1,13,2)))

[1, 3, 5, 7, 9, 11]

## Strings

Immutable sequences: dir(str)

In [433]:
"eigt equals " + str(8)
print("hello " * 2)
name="Tinna Fey"
new_name = name.replace("T", "t") # strings are immutable so Python returns a new string
print(new_name)
names = name.split(" ")
type(names)

hello hello
tinna Fey

list

In [434]:
"".join([str(i) for i in range(10)])

'0123456789'

In [435]:
import string
string.digits

'0123456789'

## Sets

Unordered collections of distinct hashable objects:
    - set: mutable
    - frozen set: immutable
They can not ben indexed. No duplicates

Maths:$\cup \cap \setminus$ -> Python: | & -

In [436]:
# ids=set()
ids=set([1,1,2,3,4,5,4,6,7])
ids.add(10)
ids.add(2) # ndoes not change anything
print(ids)

{1, 2, 3, 4, 5, 6, 7, 10}

In [437]:
x={1,2,3};y={2,3,4}
z=(x|y)-(x&y)
print(z)

{1, 4}

## Dictionaries

Very fast look up on unordered data: key-value pairs
    - key: immutable
    - value: mutable
dict are mutable objects

In [438]:
age={"Tim":29, "Jim":31, "Pan":27, "Sam":35}
age["Pan"] += 1

View object: 
    - provide a dynamic view of the keys or values in the dictionary
      i.e. content of view object changes automatically

In [439]:
names=age.keys()
print(names)
age["Tom"]=15
print(names)
ages=age.values()
print(list(ages))
print("Tom" in age)
print("Zofia" in age)

dict_keys(['Pan', 'Sam', 'Jim', 'Tim'])
dict_keys(['Pan', 'Sam', 'Tom', 'Jim', 'Tim'])
[28, 35, 15, 31, 29]
True
False

# Manipulating objects

## Dynamic Typing

Variable names space pointing to Object space via references
x=3
1) create object: 3
2) create variable name: x
3) insert a reference

With IMMUTABLE objects
x=3 (x->3)
y=x (y->3)
y=y-1 (object 2 is created; y->2)

With MUTABLE objects:

In [440]:
x=[1,2]
y=x
y[0]=666
x,y

([666, 2], [666, 2])

Object in Python: type, value (checked with ==), identity (checked with is)

In [453]:
L=[1,2,3]
M=[1,2,3]
L==M, L is M

(True, False)

M=L: reference same object
M=L[:]: a new object with same content is created

## Copies

shallow copy (by default): constructs a new compound object and then insert its references into it to the original object

deep copy: constructs a new compound object and then recursively inserts copies into it of the original objects

In [442]:
import copy
x=[1, [2]]
w=x
y=copy.copy(x) # shallow
z=copy.deepcopy(x) # deep
x[0]=666
print(x,w,y,z)
x[1].append(33)
print(x,w,y,z)

[666, [2]] [666, [2]] [1, [2]] [1, [2]]
[666, [2, 33]] [666, [2, 33]] [1, [2, 33]] [1, [2]]

## Statements

In [443]:
x=-9;y=-7
if x > y:
    absval=x-y
elif y > x:
    absval=y-x
else:
    absval=0

## For and while loops

In [444]:
for x in range(3):
    print(x)

0
1
2

In [445]:
names=['Jime','Tom','Nick']
for name in names:
    print(name)

Jime
Tom
Nick

In [446]:
age={'Tim':31, 'Nick':31, 'Pam':27}
for name in sorted(age.keys(), reverse=True):
    print(name, age[name])

Tim 31
Pam 27
Nick 31

while: unknmown #iters
for: known #iters

## List comprehensions

Quickly and elegantly apply an operation to all items in a list

In [447]:
squares=[x**2 for x in range(5)] # very fast
print(squares)

[0, 1, 4, 9, 16]

In [448]:
sum([x for x in range(10) if x%2==1]) # 1+3+5+7+9

25

## Reading and writing files

In [449]:
filename="input.txt"
for line in open(filename):
    line = line.rstrip() # extract LF + reassignment bcz strings are immutable
    words = line.split(" ")
    print(words)

['her_A557_test3_angA_1m2_scc_rec_:']
['---------------------------------']
['hey', 'cortana', 'take', 'a', 'note', 'bring', 'a', 'book', 'and', 'a', 'chair', 'to', 'the', 'beach', 'this', 'week-end']
['can', 'you', 'play', 'billy', 'joe', 'piano']
['any', 'news', 'about', 'morgus']
['can', 'you', 'find', 'backup', 'settings']

In [450]:
f=open("output.txt", "w")
f.write("Python\n")
f.close()

## Functions

Functions are objects => you may set 2 different function names for the same (not recommended)

Arguments are passed by assigning objects to local names

In [451]:
def modify(mylist):
    mylist[0] *= 10

L=[1,3,5,7,9]
modify(L)
print(L)

[10, 3, 5, 7, 9]